<app-nav></app-nav>
<div class="container" style="margin-top:2%;">
    <div class="card" >
        <div class="card-content">
        <div class="row">
            <div class="input-field col s3">
                <input [(ngModel)]="cep" name="cep" id="cep" type="text" class="validate" placeholder="00000000">
                <label class="active" for="cep">Digite o CEP desejado</label>

                <button class="btn waves-effect waves-light" (click)="BuscarCep()" type="submit" name="action" >Buscar
                    <i class="material-icons right">chevron_right</i>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
            <input [(ngModel)]="endereco.logradouro" disabled name="logradouro"  id="logradouro" type="text" class="validate">
                <label class="active" for="logradouro">Logradouro</label>
            </div>
            <div class="input-field col s6">
                <input [(ngModel)]="endereco.complemento" disabled name="complemento"  id="complemento" type="text" class="validate">
                <label class="active" for="complemento">Complemento</label>
            </div>
        </div>
            <div class="row">
                <div class="input-field col s6">
                    <input [(ngModel)]="endereco.bairro" disabled name="bairro"   id="bairro" type="text" class="validate">
                    <label class="active" for="bairro">Bairro</label>
                </div>
                <div class="input-field col s6">
                    <input [(ngModel)]="endereco.localidade" disabled name="localidade"  id="localidade" type="text" class="validate">
                    <label class="active" for="localidade">Localidade</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input [(ngModel)]="endereco.uf" disabled name="uf"  id="uf" type="text" class="validate">
                    <label class="active" for="uf">UF</label>
                </div>
                <div class="input-field col s6">
                    <input [(ngModel)]="endereco.ibge" disabled name="ibge"  id="ibge" type="text" class="validate">
                    <label class="active" for="ibge">IBGE</label>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>